body{
  margin: 0;
  box-sizing: border-box;
}

.About-container {
  margin: 0 auto;
}


h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h4 {
  font-weight: 500;

}


.About-container p {
  margin: 0 auto;
}


section {
  padding: 0 2rem;
}


.story p {
  color: #4b5563;
}



.flowers h4,
.cakes h4 {
  font-size: 1rem;
}

.flowers p,
.cakes p {
  color: #6b7280;
}

ul li {
  margin-bottom: 1rem;
  text-align: left;
  font-size: 1rem;
}

